<link rel="import" href="cells-polymer-bridge/cells-polymer-bridge.html">
<link rel="import" href="polymer/polymer.html">
<!-- will be replaced with imports -->
<link rel="import" href="cells-i18n-behavior/cells-i18n-behavior.html">
<!-- will be replaced with dependencies -->
